@use "./variables" as *;
@use "./typography" as *;

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

// Display Flex
@mixin flexbox($direction: row, $gap: 0, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $wrap;
}
