@use "./variables" as *;

@font-face {
  font-family: "Lemonada";
  src: url("../../assets/fonts/Lemonada-Light.woff") format("woff"),
    url("../../assets/fonts/Lemonada-Light.woff2") format("woff2"),
    url("../../assets/fonts/Lemonada-Light.ttf") format("truetype");
  font-weight: $light;
}

@font-face {
  font-family: "Lemonada";
  src: url("../../assets/fonts/Lemonada-Regular.woff") format("woff"),
    url("../../assets/fonts/Lemonada-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Lemonada-Regular.ttf") format("truetype");
  font-weight: $regular;
}

@font-face {
  font-family: "Lemonada";
  src: url("../../assets/fonts/Lemonada-Medium.woff") format("woff"),
    url("../../assets/fonts/Lemonada-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Lemonada-Medium.ttf") format("truetype");
  font-weight: $medium;
}

@font-face {
  font-family: "Lemonada";
  src: url("../../assets/fonts/Lemonada-SemiBold.woff") format("woff"),
    url("../../assets/fonts/Lemonada-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/Lemonada-SemiBold.ttf") format("truetype");
  font-weight: $semibold;
}

@font-face {
  font-family: "Lemonada";
  src: url("../../assets/fonts/Lemonada-Bold.woff") format("woff"),
    url("../../assets/fonts/Lemonada-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Lemonada-Bold.ttf") format("truetype");
  font-weight: $bold;
}
