// Font Variables
$font-family: Titillium, sans-serif;
$regular: 400; // Regular
$semibold: 600; // Bold

// Primary Color Variables
$color-black: #13182c;
$color-indigo: #2e66e5;
$color-white: #ffffff;

// Secondary Color Variables
$color-slate: #5c667e;
$color-cloud: #bdc5d5;

// Background Color Variables
$color-graphite: #232940;
$color-lightgrey: #f7f8f9;

// Supporting Color Variables
$color-green: #158463;
$color-red: #c94515;
