// Font Variables
$font-family: Lemonada, sans-serif;
$light: 300; // Light
$regular: 400; // Regular
$medium: 500; //Medium
$semibold: 600; // SemiBold
$bold: 700; //Bold

// Primary Color Variables
$color-black: #13182c;
// $color-darkpink: #f36396;
$color-darkpink: #f9595f;
$color-white: #ffffff;
// $color-lightpink: #ffd8de;
$color-lightpink: #fad4d0;
$color-medpink: #ff889c;

// Secondary Color Variables
$color-slate: #5c667e;
$color-cloud: #bdc5d5;

// Background Color Variables
$color-graphite: #232940;
$color-lightgrey: #f7f8f9;
