@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.main {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @include desktop {
    padding: 1rem 5rem;
  }

  &__container {
    padding: 1em 0;
    float: left;
    width: 50%;
  }

  @media screen and (max-width: 640px) {
    .main__container {
      display: block;
      width: 100%;
    }
  }

  @media screen and (min-width: 900px) {
    .main__container {
      width: 33.33333%;
    }
  }

  .content {
    display: flex;
    justify-content: center;

    &__img {
      width: 7rem;
      height: 7rem;
      margin-bottom: 1rem;
    }

    &__button {
      border-radius: 2rem;
      width: 20rem;
      height: 20rem;
      padding: 0.5rem 2.5rem;
      border: 4px $color-medpink solid;
      background-color: white;
      color: $color-darkpink;
      font-weight: bold;
      font-size: 1.1rem;
      box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
        0 1px 1px rgba(128, 128, 128, 0.155),
        0 2.1px 2.1px rgba(128, 128, 128, 0.195),
        0 4.4px 4.4px rgba(128, 128, 128, 0.241),
        0 12px 12px rgba(128, 128, 128, 0.35);
    }
  }
}
