@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.person-details {
  border: 0.75rem black double;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;

  // &__wrap {
  //   display: flex;
  //   justify-content: space-between;
  // }

  &__title {
    padding-bottom: 1rem;
    color: $color-darkpink;
    text-decoration: underline;
  }

  &__box {
    padding-bottom: 1rem;
  }

  &__container {
    display: flex;
    gap: 5rem;
  }

  &__content {
    color: $color-darkpink;
  }

  &__category {
    color: black;
  }
}

.item {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  &__delete-button {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;

    &--link {
      display: flex;
      align-content: flex-end;
      text-decoration: none;
    }
  }

  &__edit-button {
    @include flexbox;
    justify-content: flex-end;
    // align-items: center;
    border: none;
    background-color: $color-darkpink;
    border-radius: 10rem;

    @include tablet {
      border-radius: 20px;
      padding: 0.5rem 1rem;
      gap: 0.5rem;

      // &:hover {
      //   // @include button-tablet-hover;
      // }
    }

    &--link {
      text-decoration: none;
      @include flexbox;
      justify-content: flex-end;
      // @include flexbox;
      // align-items: center;
      // border: none;
      // background-color: $color-darkpink;
      // border-radius: 50%;
    }

    &-word {
      display: none;

      @include tablet {
        display: block;
        color: $color-white;
      }
    }
  }
}
