@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.person-details {
  border: 0.75rem black double;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem;

  &__test {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__title {
    color: $color-darkpink;
    text-decoration: underline;
  }

  &__box {
    padding-bottom: 1rem;
  }

  &__container {
    display: flex;
    gap: 5rem;
    background-color: white;
  }

  &__content {
    color: $color-darkpink;
  }

  &__category {
    color: black;
  }
}

.item {
  display: flex;
  gap: 1rem;
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    &--link {
      text-decoration: none;
    }
  }

  &__delete-button {
    display: flex;
    align-items: center;
    background-color: white;
    border: none;

    &:hover {
      color: pink;
    }

    &--link {
      display: flex;
      align-content: flex-end;
      text-decoration: none;
    }
  }

  &__edit-button {
    display: flex;
    border: none;
    background-color: $color-darkpink;
    border-radius: 10rem;

    &:hover {
      background-color: pink;
      color: $color-darkpink;
    }

    @include tablet {
      border-radius: 20px;
      padding: 0.5rem 1rem;
      gap: 0.5rem;
    }

    &--link {
      text-decoration: none;
      @include flexbox;
    }

    &-word {
      display: none;

      @include tablet {
        display: block;
        color: $color-white;
      }
    }
  }
}
