@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header {
  background-color: pink;
  @include tablet {
    height: 5.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    @include tablet {
      @include flexbox;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      max-width: 80rem;
    }
  }

  &__logo {
    @include flexbox;
    justify-content: center;
    padding-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;

    @include tablet {
      padding-top: 0;
    }

    &-dw {
      margin: 0;
      font-size: 2rem;
    }
  }

  &__menu {
    display: flex;
    gap: 1rem;
    padding-left: 0;
    padding-bottom: 1rem;
    margin: 0;
    justify-content: center;

    @include tablet {
      padding-bottom: 0;
    }
  }

  &__item {
    display: flex;
    list-style: none;
    text-align: center;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__button {
    // display: flex;
    padding: 0.5rem 1rem;
    border: 2px white solid;
    color: white;
    background-color: $color-darkpink;
    border-radius: 1rem;
    font-weight: bold;

    &:hover {
      color: $color-darkpink;
      background-color: white;
      border: 2px $color-darkpink solid;
    }

    &.active {
      //   @include navlink-active;

      @include tablet {
        // padding: 0.5rem 1rem;
      }
    }

    @include tablet {
      padding: 0.5rem 1rem;
      margin: 0;
    }
  }
}
