@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.dates {
  padding: 1rem;
  border: 0.75rem black double;
  border-radius: 0.5rem;
  background-color: white;
}

.item {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  &__delete-button {
    display: flex;
    align-items: center;
    background-color: white;

    &--link {
      display: flex;
      align-content: flex-end;
      text-decoration: none;
    }
  }
}
