@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.form {
  position: relative;

  &__questions-wrap {
    display: flex;
    justify-content: space-evenly;
  }

  &__questions2 {
    padding-bottom: 1.5rem;
  }

  &__title {
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }

  &__button {
    &-container {
      display: flex;
      justify-content: center;
      // gap: 5rem;
    }

    &-cancel {
      // padding: 0.5rem 2.5rem;
      position: absolute;
      top: 1%;
      left: 94%;
      font-weight: bold;
      font-size: 1.5rem;
      color: white;
      background-color: $color-darkpink;
      border-radius: 50%;
      border: 0.25rem $color-darkpink solid;
      width: 3.5rem;
      height: 3.5rem;

      &:hover {
        color: white;
      }
    }

    &-submit2 {
      padding: 0.5rem 2.5rem;
      font-weight: bold;
      color: white;
      background-color: $color-darkpink;
      border-radius: 1.5rem;
      border: 1px white solid;
      font-size: 2rem;
      // margin-right: 0 auto;

      &:hover {
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.873);
      }
    }
  }
}

.radio {
  &__button {
    margin-left: 1rem;
  }
}
