@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.form {
  &__questions-wrap {
    display: flex;
    justify-content: space-evenly;
  }

  &__button {
    &-container {
      display: flex;
      justify-content: center;
      gap: 5rem;
    }

    &-cancel {
      padding: 0.5rem 1rem;
      font-weight: bold;
      color: $color-darkpink;
      background-color: $color-lightpink;
      border-radius: 1.5rem;
      border: none;

      &:hover {
        color: white;
      }
    }

    &-submit {
      padding: 0.5rem 1rem;
      font-weight: bold;
      color: $color-darkpink;
      background-color: white;
      border-radius: 1.5rem;
      border: 1px white solid;

      &:hover {
        box-shadow: 0 0 20px 10px rgba(237, 107, 146, 0.5);
      }
    }
  }
}
