@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.person {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;

  &-specific:hover {
    box-shadow: inset 0 0 0 1000px rgba(172, 144, 157, 0.2);
    color: white;
  }

  &__link {
    text-decoration: none;
  }

  &__category {
    color: $color-darkpink;
    max-width: 2rem;
    font-size: 2rem;

    &:hover {
      color: white;
    }
  }
}

.past-dates {
  &__title {
    color: $color-darkpink;
    font-size: 3.5rem;
    padding-left: 2rem;
  }

  &__container {
    background-color: $color-lightpink;
    border: 0.5rem white double;
  }
}
