@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.person-profile {
  background-color: $color-lightpink;
  padding: 0 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
    background-color: $color-lightpink;
  }

  &__title {
    margin: 0;
    padding-top: 1rem;
    color: white;
    font-size: 4rem;
  }

  &__status {
    font-weight: bold;
  }
}

.prev-date {
  background-color: pink;
  padding: 1rem 2rem;
  border: 0.5rem white double;

  &__add {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    padding: 0.5rem 1rem;
    border: 2px white solid;
    color: white;
    background-color: $color-darkpink;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 0.6rem;
    max-width: 7rem;

    &:hover {
      color: $color-darkpink;
      background-color: white;
      border: 2px $color-darkpink solid;
    }
  }

  &__category {
    font-size: 0.75rem;
    padding: 1rem 0;
    display: flex;
  }

  &__box {
    min-width: 12rem;
  }
}
