@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

body {
  background-color: $color-lightpink;
}

.home {
  background-color: $color-lightpink;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
  }

  &__button {
    padding: 1rem;
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    border: 0.5rem $color-medpink solid;
    border-radius: 1rem;
    margin: 4rem;
    width: 21rem;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);

    &:hover {
      box-shadow: 0 0 20px 10px rgba(246, 116, 133, 0.873);
    }

    &-person {
      margin-top: 5rem;
    }

    &-date {
      margin-top: 0;
    }

    &-container {
      display: flex;
      flex-direction: column;
    }

    &--head {
      padding-bottom: 3rem;
    }

    &-image {
      height: 5rem;
    }
  }
}

.heart {
  &__text {
    display: flex;
    text-align: center;
    max-width: 15rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top: 34.5%;
    left: 27%;

    &:hover {
      // color: $color-darkpink;
      text-shadow: #ffffff 1px 0 10px;
    }
  }

  &__link {
    text-decoration: none;
    position: relative;
  }
}
